html {
  font-family:sans-serif;
}

header {
  display:flex;
  align-items: center;
  justify-content:space-between;
  height: 64px;
  padding-left:24px;
  padding-right:24px;
}

.logo {
  display:flex;
  align-items:center;
  flex-basis:1;
}
 header .logo p {
   font-size: 32px;
   flex-basis:1;
   margin-left: 10px;
 }

 .logo img {
   width:35px;
   height:auto;
 }

 header span {
   font-size: 20px;
   margin-left: 16px;
   display:inline-block;
   margin-left:16px;
 }
@media screen and (max-width:480px) {
  header {
    height:64px;
  }
}
 /* Banner section */

.banner {
  display:flex;
  background-color:lightgrey;
  align-items:center;
  padding:24px;
}
#study {
  margin: 8px 24px 8px 0px;
  width: 60%;
}
#study img {
  width: 100%;
  height:auto;
  overflow:hidden;
}

.start {
  width: 40%;
  margin: 8px 24px;
}
.start h1 {
  font-weight: 700;
  font-size: 75px;
  margin: 24px;
}

.start h3 {
  font-size: 40px;
  margin:24px;
}

.start p {
  color:white;
  background-color:brown;
  font-size: 32px;
  font-weight: 300;
  text-align:center;
  line-height: 2;
  margin:24px;
  width:75%;
}

@media screen and (max-width:480px) {
  #id {
    width:100%;
    display:block;
  }
  .start {
    width:100%;
    display:block;
  }
}
/* Info */

.info {
  display:flex;
  padding: 24px;
}

.practice {
  width: 60%;
  margin: 8px 24px 32px 0px;
}

.practice img {
  width:100%;
  height: auto;
  overflow:hidden;
}

.practice h1 {
  font-weight: 800;
  font-size: 55px;
  margin: 24px 0px;
}

.practice p {
  font-size: 20px;
  line-height: 1.2;
  margin: 24px 32px 8px 0px;
}

.events {
  width: 40%;
}

.info div:nth-child(3n+3) {
  background-color:lightgrey;
}

.list {
  display:flex;
  align-items:center;
}

.list img {
  width: 35%;
  height:auto;
  margin: 16px;
}

.list h2 {
  font-size: 32px;
}

.list p {
  margin: 8px 0px;
  font-size: 20px;
}

@media screen and (max-width:480px) {
  .practice {
    display:none
  }
  .events {
    width:100%;
    margin:16px;
  }
  .list {
    margin-bottom:64px;
  }
  .list img {
    width:100%;
    height: auto;
    display:block;
    overflow:hidden;
  }
  .list h2,p {
    margin-left:16px;
  }
}

/* Learning section */

.Learning {
  display: flex;
  padding:32px 40px;
  flex-wrap: wrap;
  background-color: lightgrey;
}

.Learning h1 {
  display:block;
  width:100%;
  font-size: 70px;
  font-weight:600;
  text-align:center;
  margin-bottom: 32px 16px;
}

.Courses {
  width: 30%;
  height: 500px;
  margin: 32px;
  background-color:white;
}

.Courses h2 {
  margin: 16px;
  font-size:32px;
  font-weight: 500;
}

.Courses p {
  margin:8px 16px;
  font-weight: 300;
}

.Courses img {
  width:100%;
  height:auto;
  overflow:hidden;
}

@media screen and (max-width:480px) {
  .Courses img, p {
    display:none;
  }
  .Courses {
    margine:16px;
    padding: 16px auto 24px 16px;
  }
}
/*Thesis section */

.Thesis {
  display:flex;
  flex-flow:wrap;
  padding: 24px;
}

.Thesis h1 {
  display:block;
  width:100%;
  font-size: 70px;
  text-align:center;
  margin-top: 8px;
  margin-bottom: 32px;
}

.Current {
  width: 55%;
  margin: 32px 24px 24px 0px;
}

.Current h3 {
  margin:24px 24px 8px 0px;
  font-size: 28px;
  font-weight: 500;
}

.Current p{
  margin: 8px 24px 8px 0px;
  font-size:20px;
  font-weight: normal;
}

.Recent {
  width: 40%;
  margin:32px 0px 24px 0px;
}

.Recent div:nth-child(2n+1){
  background-color:lightgrey;
}
.side {
  display:flex;
  width:100%;
  height:auto;
  align-items:center;
}

.side img {
  width:35%;
  height:auto;
  margin:16px;
}

.text h3 {
  margin: 16px;
  font-size:28px;
  font-weight: 500;
}

.text p {
  margin: 16px;
  font-size:20px;
  font-weight:300;
}
@media only screen and (max-width:480px) {
  .Current {
    width: 100%;
    height:auto;
    margin-top:16px;
    margin-bottom:24px;
  }
  .Recent {
    display:none;
  }
}

footer {
  display:flex;
  align-items:flex-start;
  justify-content:space-between;
  border-top: 1px solid grey;
  padding-top: 16px;
}

footer div p {
  margin-left: 24px;
}

footer nav span {
  margin: 16px;
}
@media only screen and (max-width:480px) {
  nav {
    display:none;
  }
}
